<form class="form-horizontal form-signin" method="post">
  <% if flash["error"] %>
  <div class="alert alert-error">
    Alle Felder sind obligatorisch!
  </div>
  <% end %>

  <h2 class="form-signin-heading">Bitte melden sie sich an</h2>

  <div class="control-group">
    <label class="control-label">Email Adresse</label>
    <div class="controls">
      <input type="text" name="email" class="input-xlarge">
      <span class="help-block">
        Auf diese Adresse schicken wir ihnen nach dem Anmeldeschluss nochmals eine
        Bestätigung.
      </span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Lehrperson(en)</label>
    <div class="controls">
      <input type="text" name="name" class="input-xlarge">
      <span class="help-block">
        Schreiben sie bitte ihren vollständigen Namen hin.
        Falls mehrere Lehrpersonen dieselbe Klasse unterrichten, schreiben sie die Namen aller Lerhpersonen hin.
      </span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Schulhaus</label>
    <div class="controls">
      <select name="school">
        <%= options_from_collection_for_select(School.all, "name", "name") %>
      </select>
    </div>
  </div>

  <div class="rule"></div>

  <div class="control-group">
    <button type="submit" class="btn btn-large btn-primary">Anmelden</button>
  </div>

</form>
